<!DOCTYPE html>
<html>
<head>
  <title>Add a Beer</title>
</head>
<body>
  <form action="/beers" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="brewery" placeholder="Brewery">
    <input type="text" name="alc_percentage" placeholder="Alc Percentage">
    <button type="submit">SAVE</button>
  </form>
</body>
</html>